* {
    box-sizing:border-box;
}

@font-face {
    font-family: Aller;
    src: url(Aller_Bd.ttf);
}
body {
    background-color: #dbe9ff;
    font-family: Arial;
}
header {
    background-image: url("BannerPhoto.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.title {
    color: #ffffff;
    font-size: 450%;
    position: absolute;
	text-align:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 5px 5px 10px black;
}
.left {
    width:75%;
    padding-left:2%;
}
.row{
    display:flex;
}
.right a {
    text-decoration: none;
    position: absolute;
    padding:10px;
    font-size: 200%;
}
.allpets h1{
    font-size: 300%;
    text-align: center;
}
/* THE MAINCONTAINER HOLDS EVERYTHING */ 
.alldogs { 
    position: relative;
    background: none;
    overflow-x:scroll;
    border: 5px solid black;
    padding:0px;
    white-space: nowrap;
    margin-left:10px;
}
.allcats {
    position: relative;
    background: none;
    overflow-x:scroll;
    border: 5px solid black;
    padding:0px;
    white-space: nowrap;
}
.thecard{  /* THE CARD HOLDS THE FRONT AND BACK FACES */ 
    display: inline-block;
    margin: 10px;
    position: relative;
    top: 0; 
    left: 0; 
    width: 300px; 
    height: 300px; 
    border-radius: 25px; 
    transform-style: preserve-3d; 
    transition: all 0.8s ease;
    max-width: 300px;
    max-height: 300px;
} 
/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */ 
.thecard:hover{
    transform: rotateY(180deg); 
} 
/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */ 
.thefront{ 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    border-radius: 10px; 
    backface-visibility: hidden; 
    overflow: hidden;
}
/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */ 
.theback{ 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    border-radius: 10px; 
    backface-visibility: hidden; 
    overflow: hidden;
    background: #4568f7;
    color: white;
    text-align: center; 
    transform: rotateY(180deg); 
} 
/*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */ 
.thefront h1, .theback h1{ 
    font-family: 'zilla slab', sans-serif; 
    padding: 30px; 
    font-weight: bold; 
    font-size: 24px; 
    text-align: center;
} 
.thefront p, .theback p{ 
    font-family: 'zilla slab', sans-serif; 
    padding: 30px; 
    font-weight: normal; 
    font-size: 12px; 
    text-align: center;
}
/*This block (ends here) is merely styling for the flip card, and is NOT an essential part of the flip code */

@font-face {
    font-family: Aller;
    src: url(Aller_Bd.ttf);
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:rgb(0, 155, 182);
    font-family: Aller;
    font-size: 110%;
    position: relative;
    top: 20px;
    border-radius: 30px;
    padding: 40px;
    height: 10px; 
}
.logo img{
    float: left;
    width: 200px;
    height: auto;
	padding-left: 10%;
}
.nav-link {
    display: flex;
    justify-content: space-around;
    width: 55%;
}
.nav-link li {
    list-style: none;
}
.nav-link a { 
    color: white;
    text-decoration: none;
    padding: 5px 20px;
}
ul li a:hover{
    color: black;
	border-radius:30px;
    background-color: aliceblue;
}
.opener div {
    display: none;
    cursor: pointer;
}
.opener div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}
footer {
    background-color: rgb(0, 155, 182);
    text-align: left;
	font-size:80%;
}

.contact {
        text-align: right;
        padding-right: 40px;
        position: relative;
        bottom: 15px;
}

.contact a {
        text-decoration: none;
        color: white;
}

.contact a:hover {
        color: yellow;
}

/* Media screen */
@media screen and (max-width:768px){
    body {
        overflow-x: hidden;
    }
    .logo img {
        float: right;
        width: 200px;
        height: auto;
    }
    .nav-link {
        position: absolute;
        right: 0px;
        height: 76vh;
        top: 8vh;
        background-color:rgb(0, 155, 182);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
		padding:0%;
    }
    .opener div {
        display: block;
    }
    .nav-active {
        transform: translateX(0%);
    }
    .title {
        font-size: 50px;
        text-align: center;
    }
    header {
        background-image: url("BannerPhoto.jpg");
        background-position: center;
        background-attachment: fixed;
        height: 89vh;
    }
    h2 {
        text-transform: uppercase;
        font-size: 30px;
        text-align: left;
    }
    .vol {
        margin: 0px;
        text-align: left;
        padding-left: 20px;
    }
    .don {
        margin: 0px;
        text-align: left;
        padding-left: 20px;
    }

	
}
.ani .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.ani .line2 {
    opacity: 0;
}
.ani .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

p {
    padding-right: 25px;
    margin-right:10%
}