*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: Aller;
    src: url(Aller_Bd.ttf);
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:rgb(0, 155, 182);
    font-family: Aller;
    font-size: 110%;
    position: relative;
    top: 20px;
    border-radius: 30px;
    padding: 40px; 
    height: 10px; 
}
.logo img{
    float: left;
    width: 200px;
    height: auto;
}
.nav-link {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.nav-link li {
    list-style: none;
}
.nav-link a { 
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    
}
ul li a:hover{
    color: black;
    border-radius: 30px;
    background-color: aliceblue;
}
.opener div {
    display: none;
    cursor: pointer;
}
.opener div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}
header {
    background-image: url("pet1.JPG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.title {
    color: #ffffff;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 5px 5px 10px black;
}
.vol {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', serif;
    margin-left: 160px;
}
h2 {
    line-height: 200%;
    padding-left: 20px;
    height: 72px;
    margin-bottom: 0;
    font-size: 40px;
    color: #353535;
}
.vol ul li{
    list-style-type: square;
    margin-left: 30px;
}
.don {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', serif;
    margin-left: 160px;
}
table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    font-size: 20px;
    padding: 10px;
}
thead { background-color: rgb(255, 255, 255);
    font-size: 25px;
}    
tbody tr:nth-last-of-type(odd){
    background-color: rgb(209, 209, 209);
}
.column {
    float: left;
    width: 15%;
    padding: 1px;
}
.row::after {
    content: "";
    clear: both;
    display: table; 
}
.row {
    display: flex;
}
  
.column {
    flex: 33.33%;
    padding: 5px;
}

footer {
        background-color: rgb(0, 155, 182);
		text-align: left;
		padding-left:1%;
		padding-top:1%;
}

.contact {
        text-align: right;
        padding-right: 40px;
        position: relative;
        bottom: 15px;
}

.contact a {
        text-decoration: none;
        color: white;
}

.contact a:hover {
        color: yellow;
}

@media screen and (max-width:768px){
    body {
        overflow-x: hidden;
    }
    .logo img {
        float: right;
        width: 200px;
        height: auto;
    }
    .nav-link {
        position: absolute;
        right: 0px;
        height: 80vh;
        top: 10vh;
        background-color:rgb(0, 155, 182);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .opener div {
        display: block;
    }
    .nav-active {
        transform: translateX(0%);
    }
    .title {
        font-size: 50px;
        text-align: center;
    }
    header {
        background-image: url("pet1.jpg");
        background-position: center;
        background-attachment: fixed;
        height: 89vh;
    }
    h2 {
		text-align:center;
        text-transform: uppercase;
        font-size: 30px;
    }
    .vol {
        margin: 0px;
        text-align: justify;
        padding-left: 20px;
    }
	.vol ul{
		text-align:left;
	}
    .don {
        margin: 0px;
        text-align: left;
        padding-left: 20px;
    }
}
.ani .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.ani .line2 {
    opacity: 0;
}
.ani .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

p {
    padding-right: 25px;
    margin-right:10%
}