@font-face {
    font-family: Aller;
    src: url(Aller_Bd.ttf);
}
header {
    position:sticky;
    height:60%;
    width:100%;
    background-color:lightblue;
    border-radius: 5px;
}
body {
    background-color: #dbe9ff;
    font-family: Arial;
}
#nav ul {
    text-decoration:none;
    list-style-type:none;
    margin:0px;
    padding-bottom:5%;
    overflow: hidden;
    position: absolute;
    right:2%;
    top: 1%;
    font-size: 150%;
}

#nav li {
    font-family: Aller;
    float: left;
    padding-right:0.75cm;
    padding-top: 3%;
    padding-bottom:30px;
    padding-left:0.75cm;
    resize: auto;
    border-radius: 5px;
    margin-left: 10px;
}

#nav li a {
    display: inline;
    color:#4568f7;
    text-align: center;
    text-decoration: none;
    padding:10px;
    margin:5px;
}
#nav li a:hover {
    border-radius:10px;
    padding-right:15px;
    padding-left:15px;
    padding-top 10px;
    padding-bottom: 10px;
    color:white;
    background-color:#4568f7;
}

.column {
    flex:50%;
    width:50%;
}